VITE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyb2JhbnN2ZWpmYWh1a3ZjZWZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDk2MzkyMTgsImV4cCI6MjAyNTIxNTIxOH0.wne3uxRROGvx_sXEY8Iq8_3DdveYD76aor91ZjwbNKk