// startup.scss

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes moveRightAnimation {
  from {
    left: 0;
  }

  to {
    left: 60px;
  }
}

@keyframes moveLeftAnimation {
  from {
    right: 0;
  }

  to {
    right: 60px;
  }
}

.rotate-animation {
  animation: rotateAnimation 1s linear forwards;
}

.move-right-animation {
  position: absolute;
  animation: moveRightAnimation 1s linear forwards;
}

.move-left-animation {
  position: absolute;
  animation: moveLeftAnimation 1s linear forwards;
}

.gradient-bg {
  background-image: linear-gradient(to right, #18c9da, #a6ff86);
}

.border-gradient {
  border-width: 12px;
  background-image: linear-gradient(white, white),
    linear-gradient(to top, #a6ff86, #18c9da);
  border-radius: 9999px;
  border: transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 12px;
  z-index: 9999;
}

.gradient-button {
  background: linear-gradient(to top, #a6ff86, #18c9da);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 20%;
  /* Set button width to 100% */
  box-sizing: border-box;
  /* Ensure padding and border are included in the width */
}

.gradient-button:hover {
  background: linear-gradient(to top, #18c9da, #a6ff86);
}
