// startup.scss

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes leftLineAnimation {
    from {
        left: 0
    }

    to {
        left: 60px;
    }
}

@keyframes rightLineAnimation {
    from {
        right: 0;
    }

    to {
        right: 60px;
    }
}

.rotate-animation {
    animation: rotateAnimation 1s linear forwards;
}

.left-line-animation {
    position: absolute;
    animation: LeftLineAnimation 1s linear forwards;
}

.right-line-animation {
    position: absolute;
    animation: rightLineAnimation 1s linear forwards;
}

body {
    overflow: hidden;
}