// LoginModal.scss

.border-gradient {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to top, #A6FF86, #18C9DA);
    border-image-slice: 1;
}

button.gradient-button {
    background: linear-gradient(to top, #A6FF86, #18C9DA);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button.gradient-button:hover {
    background: linear-gradient(to top, #18C9DA, #A6FF86);
  }

  .fixed {
    z-index: 9999; // Set a high z-index value to ensure the modal appears above other content
  }
  